/node_modules
/public/hot
/public/storage

/vendor
/.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
important
_ide_helper.php

.phpstorm.meta.php
.editorconfig
